@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: dark;
    background-color: #000;
    /* Ensure black background */
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Prevent scrollbars */
}

body {
    margin: 0;
    place-items: center;
    min-width: 100vw;
    min-height: 100vh;
}